<!DOCTYPE html>
<html lang="en">
    <!-- Navigation-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{ path('app_home') }}">MasterMind</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_classement_topNbWin') }}">Classement</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_joueur_profilJoueur') }}">Profil</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_partie_historique') }}">Historique</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_contact') }}">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
         <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,800italic' rel='stylesheet'
    type='text/css'>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
