{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <h1>Historique</h1>

        <a href="{{ path('app_home') }}">HOME</a>
        <a href="{{ path('app_login') }}">Login</a>



    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nbcoups</th>
                <th>Temps</th>
                <th>Resultat</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partie in parties %}
            <tr>
                <td>{{ partie.id }}</td>
                <td>{{ partie.nbcoups }}</td>
                <td>{{ partie.temps }}</td>
                <td>{{ partie.resultat ? 'Yes' : 'No' }}</td>
                <td>{{ partie.date ? partie.date|date('Y-m-d') : '' }}</td>
              
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
